# Introducción

Vamos a analizar un conjunto de datos de canciones y sus estadísticas por semanas: `listas_musica.csv`

Es un conjunto de datos que nos permite trabajar los conceptos de `pandas` y `numpy`.

El ejercicio será guiado aunque se permite no ver las soluciones para realizar las tareas.

Las columnas del `dataset` son:

* `date`:	Tipo `date` - Fecha de la lista.
* `rank`:	Tipo `int`	- Posición del ranking de la canción en esa fecha.
* `song`:	Tipo `str`	- Nombre de la canción.
* `artist`:	Tipo `str` - Artista.
* `last-week`:	Tipo `int` -	Posición en el ranking de la semana anterior.
* `peak-rank`: Tipo `int`	- La mejor posición de la canción en el ranking.
* `weeks-on-board`: Tipo `int` -	Número de semanas que la canción lleva en la lista.

# Carga de librerías

Cargue las librerías `numpy`, `pandas` y `os`.

### Solución

In [1]:
import numpy as np 
import pandas as pd 
import os as os

# Carga del dataset

Lea el dataset y conviértalo en un `dataframe`.

Imprima el dataset una vez lo tenga.

### Solución

In [2]:
df = pd.read_csv("/Users/n.arcos89/Documents/GitHub/Ejercicios-pr-cticos/Musica/listas_musica.csv")

In [3]:
#convertir en data frame
df = pd.DataFrame(df)

In [4]:
df

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1

#Limpieza de datos

Rellene con `0` usando `fillna()`.

### Solución

In [5]:
#limpiar datos rellenando con 0 los valores nulos
df = df.fillna(0)

In [6]:
df

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,0.0,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,0.0,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0.0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0.0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0.0,100,1

# Imprima algunos valores de ejemplos

Use `tail()` para imprimir algunos valores.

Fíjese en las columnas del dataset.

### Solución

In [7]:
#imprimimos valores con tail()
df.tail()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
330082,1958-08-04,96,Over And Over,Thurston Harris,0.0,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,0.0,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0.0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0.0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0.0,100,1

In [8]:
df.tail(3)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0.0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0.0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0.0,100,1

In [9]:
df.tail(-10)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
10,2021-11-06,11,Essence,Wizkid Featuring Justin Bieber & Tems,12.0,9,17
11,2021-11-06,12,Kiss Me More,Doja Cat Featuring SZA,10.0,3,29
12,2021-11-06,13,Heat Waves,Glass Animals,14.0,12,41
13,2021-11-06,14,Beggin',Maneskin,15.0,14,18
14,2021-11-06,15,Cold Heart (PNAU Remix),Elton John & Dua Lipa,21.0,15,8
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,0.0,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,0.0,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0.0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0.0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0.0,100,1

In [10]:
#si quiero un intervalo puedo utilizar iloc

df.iloc[0:10]

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
5,2021-11-06,6,Way 2 Sexy,Drake Featuring Future & Young Thug,6.0,1,8
6,2021-11-06,7,Shivers,Ed Sheeran,9.0,7,7
7,2021-11-06,8,Good 4 U,Olivia Rodrigo,7.0,1,24
8,2021-11-06,9,Need To Know,Doja Cat,11.0,9,20
9,2021-11-06,10,Levitating,Dua Lipa,8.0,2,56

# Calcule los top 30 artistas

Puede usar la función `value_counts()` y `head(...)`.

Fíjese en usar la columna correspondiente.

### Solución

In [11]:
#calculamos top 30 artistas con value_counts
df['artist'].value_counts().head(30)

#el numero que aparece junto al artista en el resultado es el numero de veces que aparece ese artista en la lista.

artist
Taylor Swift             1023
Elton John                889
Madonna                   857
Drake                     787
Kenny Chesney             769
Tim McGraw                731
Keith Urban               673
Stevie Wonder             659
Rod Stewart               657
Mariah Carey              621
Michael Jackson           611
Chicago                   607
Rascal Flatts             604
Billy Joel                588
The Beatles               585
The Rolling Stones        585
Jason Aldean              572
Aretha Franklin           569
Rihanna                   566
P!nk                      564
Whitney Houston           561
Brad Paisley              559
George Strait             553
Neil Diamond              553
Luke Bryan                543
Carrie Underwood          541
Daryl Hall John Oates     540
The Beach Boys            531
Toby Keith                526
Bee Gees                  516
Name: count, dtype: int64

# Muestre el top 15 de canciones junto con su cantante

### Solución

In [12]:
#si queremos localizar dos valores van entre corchetes sepados por comas. 

df[['song', 'artist']].value_counts().head(15)

song                                 artist
Blinding Lights                      The Weeknd                                   90
Radioactive                          Imagine Dragons                              87
Sail                                 AWOLNATION                                   79
I'm Yours                            Jason Mraz                                   76
How Do I Live                        LeAnn Rimes                                  69
Party Rock Anthem                    LMFAO Featuring Lauren Bennett & GoonRock    68
Counting Stars                       OneRepublic                                  68
Rolling In The Deep                  Adele                                        65
Foolish Games/You Were Meant For Me  Jewel                                        65
Before He Cheats                     Carrie Underwood                             64
You And Me                           Lifehouse                                    62
I Hope                               Gabby Barrett Featuring Charlie Puth         62
Ho Hey                               The Lumineers                                62
Demons                               Imagine Dragons                              61
Circles                              Post Malone                                  61
Name: count, dtype: int64

#Muestre el top 10 de los artistas, canciones y su mejor posición

### Solución

In [13]:
df[['song', 'artist', 'peak-rank']].value_counts().head(10)

song                     artist                                     peak-rank
Blinding Lights          The Weeknd                                 1            74
Shape Of You             Ed Sheeran                                 1            58
I'm Yours                Jason Mraz                                 6            56
Party Rock Anthem        LMFAO Featuring Lauren Bennett & GoonRock  1            54
I Gotta Feeling          The Black Eyed Peas                        1            54
Can't Stop The Feeling!  Justin Timberlake                          1            52
Circles                  Post Malone                                1            50
Shake It Off             Taylor Swift                               1            50
Closer                   The Chainsmokers Featuring Halsey          1            50
Uptown Funk!             Mark Ronson Featuring Bruno Mars           1            49
Name: count, dtype: int64

# Artistas más reproducidos por semanas

Transforme la columna `date` en `datetime`.

Use  `set_index` para crear un índice en la columna `date`.

Imprima el dataframe con el nuevo índice.

### Solución

In [14]:
#transformar columna date en datetime, como ya es un dataframe no es la misma función que antes sino que es pd.to_loquequiera
df['date'] = pd.to_datetime(df['date'])

In [15]:
df

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,0.0,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,0.0,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0.0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0.0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0.0,100,1

# Encuentre los más y menos escuchados según un intervalo de tiempo

Puede usar `resample(frecuencia)[columna]`. 

Las frecuencias que puede usar son:
* H - Horaria
* D - Diaria
* W - Semanal
* M - Mensual
* A - Anual

Puede usar `.agg([columnas])` para agregar los datos

### Solución

In [16]:
df.resample('A', on='date').agg({'artist': ['first', 'last']})

/var/folders/qj/w1prc6gn25l836z9b7mn6x940000gn/T/ipykernel_34664/2667325290.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df.resample('A', on='date').agg({'artist': ['first', 'last']})

                                        artist  \
                                         first
date
1958-12-31                        Ricky Nelson
1959-12-31    The Chipmunks With David Seville
1960-12-31                       Marty Robbins
1961-12-31  Elvis Presley With The Jordanaires
1962-12-31                          The Tokens
...                                        ...
2017-12-31      The Weeknd Featuring Daft Punk
2018-12-31                          Ed Sheeran
2019-12-31                       Ariana Grande
2020-12-31                        Mariah Carey
2021-12-31                        Mariah Carey


                                                     last
date
1958-12-31                              The Ames Brothers
1959-12-31                                  The Knockouts
1960-12-31                                  Etta & Harvey
1961-12-31                                Jimmie Beaumont
1962-12-31                                      Don Covay
...                                                   ...
2017-12-31   Calvin Harris Featuring Kehlani & Lil Yachty
2018-12-31     6ix9ine Featuring Nicki Minaj & Kanye West
2019-12-31  Trippie Redd Featuring Juice WRLD & YNW Melly
2020-12-31                                       Kid Cudi
2021-12-31                     YoungBoy Never Broke Again

[64 rows x 2 columns]